body {
    font-family: 'Poppins', sans-serif;
}

#carouselExampleDark .carousel-caption {
    position: static !important;
    transform: none !important;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;
    text-align: center;
    background: transparent;
        }